# REF: https://docs.ansible.com/ansible/latest/reference_appendices/config.html
[defaults]
inventory = inventory

# Performances
# REF: https://www.redhat.com/en/blog/faster-ansible-playbook-execution
pipelining = True
# (assuming: 1. Pi station is accessed within a controlled network/VPN; 2. SSH keys are used instead of passwords)
host_key_checking = False
