## Formatting/Linting

# Python
black
flake8
flake8-bugbear
flake8-builtins
flake8-docstrings
flake8-simplify
isort
pip-tools

# Ansible
ansible-lint

# YAML
yamllint


## Scripting

# Raspberry Pi
RPi.GPIO

# SleepyPi
ephem
smbus
